/* public styles */

@font-face {
    /* 字体声明  */
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?p4ssmb');
    src: url('fonts/icomoon.eot?p4ssmb#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?p4ssmb') format('truetype'),
        url('fonts/icomoon.woff?p4ssmb') format('woff'),
        url('fonts/icomoon.svg?p4ssmb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    /* 字体声明  */
    font-family: 'consolas';
    src: url('fonts/consolas.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@media (prefers-color-scheme: dark) {
    .main {
        background: url(background_night.jpg);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes infoCome {
    0% {
        top: 3vh;
        left: -3vh;
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        top: 7vh;
        left: 1vh;
        background-color: rgba(255, 255, 255, .8);
    }
}

@keyframes infoOut {
    0% {
        top: 7vh;
        left: 1vh;
        background-color: rgba(255, 255, 255, .8);
    }

    100% {
        top: 3vh;
        left: -3vh;
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes infoComeNight {
    0% {
        top: 3vh;
        left: -3vh;
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        top: 7vh;
        left: 1vh;
        background-color: rgba(20, 0, 90, 0.8);
        color: white;
    }
}

@keyframes infoOutNight {
    0% {
        top: 7vh;
        left: 1vh;
        background-color: rgba(20, 0, 90, 0.8);
        color: white;
    }

    100% {
        top: 3vh;
        left: -3vh;
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes navUpFrame {
    0% {
        top: 0vh;
    }

    100% {
        top: -6vh;
    }
}

@keyframes navDownFrame {
    0% {
        top: -6vh;
    }

    100% {
        top: 0vh;
    }
}

@keyframes senOut {
    0% {
        background-color: rgba(200, 200, 200, .4);
        color: black;
    }

    100% {
        background-color: rgba(200, 200, 200, 0);
        color: rgba(0, 0, 0, 0);
    }
}

@keyframes senCome {
    0% {
        background-color: rgba(200, 200, 200, 0);
        color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(200, 200, 200, .4);
        color: black;
    }
}

@keyframes senOut2 {
    0% {
        color: black;
    }

    100% {
        color: rgba(0, 0, 0, 0);
    }
}

@keyframes senCome2 {
    0% {
        color: rgba(0, 0, 0, 0);
    }

    100% {}
}

@keyframes sentenceChange {
    0% {
        transform: rotate(0deg);
    }

    99% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes navBtnDown {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes navBtnUp {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes pageCome-main {
    0% {
        filter: blur(0);
    }

    100% {
        filter: blur(10px);
    }
}

@keyframes pageOut-main {
    0% {
        filter: blur(10px);
    }

    100% {
        filter: blur(0);
    }
}

@keyframes pageCome {
    0% {
        top: -100vh;
    }

    100% {
        top: 6vh;
    }
}

@keyframes pageOut {
    0% {
        top: 6vh;
    }

    100% {
        top: -100vh;
    }
}

@keyframes tool7Out {
    0% {
        background-color: rgba(120, 120, 200, 0.95);
        color: rgba(0, 0, 0, 1);
        top: 10vh;
        left: 25vw;
    }
    100% {
        background-color: rgba(100, 100, 200, 0);
        color: rgba(0, 0, 0, 0);
        top: 8vh;
        left: 22vw;
    }
}

@keyframes tool7Come {
    0% {
        background-color: rgba(100, 100, 200, 0);
        color: rgba(0, 0, 0, 0);
        top: 8vh;
        left: 22vw;
    }
    100% {
        background-color: rgba(120, 120, 200, .95);
        color: rgba(0, 0, 0, 1);
        top: 10vh;
        left: 25vw;
    }
}

@keyframes tool7OutM {
    0% {
        background-color: rgba(120, 120, 200, 0.95);
        color: rgba(0, 0, 0, 1);
        top: 10vh;
        left: 10vw;
    }
    100% {
        background-color: rgba(100, 100, 200, 0);
        color: rgba(0, 0, 0, 0);
        top: 8vh;
        left: 8vw;
    }
}

@keyframes tool7ComeM {
    0% {
        background-color: rgba(100, 100, 200, 0);
        color: rgba(0, 0, 0, 0);
        top: 8vh;
        left: 8vw;
    }
    100% {
        background-color: rgba(120, 120, 200, .95);
        color: rgba(0, 0, 0, 1);
        top: 10vh;
        left: 10vw;
    }
}

body {
    margin: 0;
    position: relative;
    /* cursor: url(cursor.png), auto; */
    cursor: default;
    background-color: rgb(255, 255, 255);
}

.main {
    /* height: 900px; */
    height: 100vh;
    width: 100vw;
    background: url(background.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: -200px 0; */
}

.noJS {
    position: absolute;
    top: 7vh;
    left: 1vh;
    background-color: rgba(200, 200, 200, .5);
    color: rgba(0, 0, 0, .8);

}

.nav {
    height: 6vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, .5);
    /* cursor: default; */
    z-index: 5;
}

.logo {
    display: block;
    position: absolute;
    height: 6vh;
    width: 6vh;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: url(logo.jpg);
    background-size: cover;
    margin: 0px;
    margin-right: 1vh;
}

.infoOff {
    font-family: 'icomoon';
    position: absolute;
    right: 2vh;
    top: 2vh;
    margin: 0;
    /* background-color: rgba(255, 255, 255, .8); */
}

.info-sup,
.info-shr {
    text-decoration: none;
}

.info-sup-1,
.info-shr-1 {
    font-size: 2.5vh;
}

.info-sup-2 {
    color: rgb(85, 85, 85);
}

.info-sup-3 {
    color: rgb(0, 122, 204);
}

.info-sup-4 {
    color: rgb(0, 120, 214);
}

.info-shr-2 {
    background: url(https://sqimg.qq.com/qq_product_operations/im/qqlogo/imlogo_b.png);
    background-size: cover;
}

.info-shr-3 {
    color: rgb(123, 179, 46);
}

.info-shr-4 {
    color: rgb(29, 161, 242);
}

.info-shr-5 {
    color: rgb(255, 0, 0);
}

.info-send {
    display: block;
    /* position: absolute;
    left: 2vh;
    top: 12vh; */
    position: relative;
    left: 1vh;
    color: black;
    /* text-decoration: underline; */
    margin-top: 3vh;
}

.navbtn {
    display: inline-block;
    font-family: 'icomoon';
    font-size: 4vh;
    margin: 1vh 1.5vh;
    /* background-color: #fff; */
    color: rgba(40, 75, 225, 0.6);
    /* transition: .15s; */
}

.navbtn:hover,
.navUp:hover {
    /* color: rgba(40, 75, 225, 0.8); */
    font-weight: 700;
}

.navDown:hover {
    color: #000;
}

.web {
    margin-left: 8vh;
}

.sen {
    display: block;
    position: absolute;
    right: 2vw;
    bottom: 5vh;
    text-align: right;
    /* cursor: default; */
    font-size: 2vh;
    z-index: 0;
    background-color: rgba(200, 200, 200, .4);
    color: black;
}

.senChange {
    display: block;
    position: absolute;
    right: 2vw;
    bottom: 2vh;
    text-align: right;
    /* cursor: default; */
    font-size: 2vh;
    z-index: 0;
    /* background-color: rgba(200, 200, 200, .4); */
    color: black;
    font-family: 'icomoon';
}

.load {
    position: absolute;
    top: 80vh;
    left: 30vw;
    font-size: 3vh;
    /* width: 27vh; */
    z-index: -123;
    color: rgb(100, 100, 100);
}

.loadAni {
    display: block;
    font-size: 3vh;
    z-index: -123;
    color: rgb(100, 100, 100);
    font-family: 'icomoon';
    margin: 0;
    width: 3vh;
    animation: loading cubic-bezier(.1, .3, .5, .3).8s infinite;
}

.navBtn {
    font-family: 'icomoon';
    display: inline-block;
    position: absolute;
    right: 2vh;
    top: 1vh;
    margin: 0;
    margin-top: 1vh;
    font-size: 2vh;
    color: rgba(40, 75, 225, 0.6);
    z-index: 999;
    /* cursor: default; */
}

.navRight {
    display: inline-block;
    position: absolute;
    right: 3vh;
    font-family: 'icomoon';
    font-size: 4vh;
    margin: 1vh;
}

.time {
    display: inline-block;
    position: absolute;
    right: 5vh;
    text-align: right;
    margin: 0px;
    margin-top: .5vh;
    color: rgba(40, 75, 225, 0.8);
    font-size: 2vh;
}

.page {
    position: absolute;
    top: -100vh;
    left: 0;
    /* background-color: rgba(80, 95, 255, 0.5); */
    width: 100vw;
    height: 94vh;
    /* cursor: default; */
    overflow: auto;
}

.pageTitle {
    margin: 2vh;
    margin-left: 5vw;
    font-size: 4vh;
    /* font-weight: 700; */
    font-family: '微软雅黑';
    color: black;
}

.web-item {
    position: relative;
    height: 6vh;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 3vh;
    background-color: rgba(129, 216, 207, 0.5);
    overflow: hidden;
    border-radius: 3vh;
    font-family: 'serif';
}

.web-item>p,
.web-item>a {
    display: inline-block;
    background-color: rgba(150, 150, 255, 0.5);
    height: 4vh;
    margin-top: 1vh;
    border-radius: 4vh;
    color: black;
    text-decoration: none;
}

.set-item {
    height: auto;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 3vh;
    background-color: rgba(129, 216, 207, 0.5);
    overflow: hidden;
    border-radius: 3vh;
    position: relative;
}

.set-item>p {
    display: inline;
    font-size: 3vh;
    margin: 0;
    line-height: 6vh;
    margin-left: 2vh;
    font-family: 'serif';
}

.set-select {
    display: inline-block;
    width: auto;
    height: 4vh;
    border-radius: 2vh;
    position: absolute;
    right: 10vh;
    top: 1vh;
    font-size: 1.5vh;
    background-color: rgba(150, 150, 255, 0.5);
    padding: 1vh;
    z-index: 5;
    color: #000;
    outline: none;
    border: none;
}

.set-check {
    display: inline-block;
    width: auto;
    height: 4vh;
    border-radius: 2vh;
    position: absolute;
    right: 2vh;
    top: 1vh;
    font-size: 1.5vh;
    background-color: rgba(150, 150, 255, 0.5);
    padding: 1vh;
    z-index: 5;
    color: #000;
    outline: none;
    border: none;
}

.tool-item {
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 3vh;
    background-color: rgba(129, 216, 207, 0.5);
    overflow: hidden;
    border-radius: 3vh;
    position: relative;
}

.tool-item-name {
    display: inline;
    font-size: 3vh;
    margin: 0;
    line-height: 6vh;
    margin-left: 2vh;
    font-family: 'serif';
}

.tool-item-right {
    display: inline-block;
    font-size: 2vh;
    margin: 0;
    line-height: 6vh;
    margin-left: 2vh;
    position: absolute;
    right: 2vh;
    color: gray;
}

.tool2-input,
.tool3-input {
    width: 60vw;
    height: 10vh;
    margin-left: 15vw;
    resize: none;
    font-family: 'consolas';
    font-size: 2vh;
    outline: none;
    border: none;
    background-color: rgba(150, 150, 255, 0.5);
}

.tool2-output {
    width: 60vw;
    height: 10vh;
    margin-left: 15vw;
    outline: none;
    border: none;
    background-color: rgba(150, 150, 255, 0.5);
    line-height: 10vh;
}

.tool3-input {
    margin-bottom: 10vh;
}

.tool4-left,
.tool6-left {
    display: inline-block;
    position: relative;
    font-size: 2vh;
    margin-top: 3vh;
    font-family: 'consolas';
}

.tool4-right,
.tool6-right {
    display: inline-block;
    position: absolute;
    font-size: 2vh;
    margin-top: 3vh;
    outline: none;
    border: none;
    background-color: rgba(150, 150, 255, 0.5);
    height: 3vh;
    font-family: 'consolas';
}

.tool3-check,
.tool4-check,
.tool6-check {
    display: block;
    position: absolute;
    bottom: 1vh;
    left: 35vw;
    width: 20vw;
    height: 5vh;
    background-color: rgba(150, 150, 255, 0.5);
    font-size: 2vh;
    line-height: 5vh;
    text-align: center;
}

.tool6-ta {
    resize: none;
    width: 30vw;
    height: 10vh;
}

.tool5-input,
.tool5-output {
    display: inline-block;
    font-size: 2vh;
    outline: none;
    border: none;
    background-color: rgba(150, 150, 255, 0.5);
    font-family: 'consolas';
    position: relative;
}

.tool5-left1,
.tool5-left2,
.tool7-left1,
.tool7-left2 {
    display: inline-block;
    font-size: 2vh;
    margin-left: 20vw;
    outline: none;
    border: none;
    height: 3vh;
    font-family: 'consolas';
    /* width: 20vw; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.tool5-check {
    display: block;
    margin-left: 35vw;
    width: 20vw;
    height: 5vh;
    background-color: rgba(150, 150, 255, 0.5);
    font-size: 2vh;
    line-height: 5vh;
    text-align: center;
}

.tool5-output {
    height: 6vh;
    width: 60vw;
    bottom: 1vh;
}

.tool7-note {
    margin-left: 3vw;
}

.tool7-check {
    display: block;
    position: absolute;
    left: 35vw;
    width: 20vw;
    height: 5vh;
    background-color: rgba(150, 150, 255, 0.5);
    font-size: 2vh;
    line-height: 5vh;
    text-align: center;
}

.tool7-output {
    font-size: 2vh;
    display: inline-block;
    outline: none;
    border: none;
    font-size: 3vh;
    padding: 1vh;
    font-family: 'Times New Roman';
    font-style: italic;
}

.tool7-fz {
    /* position: absolute;
    top: 0vh; */
    position: relative;
    bottom: 4vh;
    /* left: 3vh; */
    text-align: right;
}

.tool7-fz::after {
    content: "";
    height: 1px;
    background-color: #000;
    width: 100%;
    position: absolute;
    top: 4.5vh;
    left: 0vh;
}

.tool7-fm {
    position: absolute;
    left: 0vh;
    /* position: relative; */
    text-align: right;
}

.tool7-frac {
    display: inline-block;
    position: relative;
    top: 3vh;
    /* background-color: #fff; */
    height: 8vh;
    /* width: 3vh; */
}

.tool7-left2 {
    position: absolute;
    bottom: 3vh;
    left: 1.8vw;
}

.tool7-input {
    width: 10vh;
    height: 3vh;
    font-family: 'Times New Roman';
    font-size: 2vh;
    outline: none;
    border: none;
    background-color: rgba(150, 150, 255, 0.5);
}

.tool7-why-title {
    display: inline-block;
    font-family: 'icomoon';
    font-size: 2vh;
}

.tool7-why {
    height: 80vh;
    background-color: rgba(120, 120, 200, .95);
    position: fixed;
    top: 10vh;
    z-index: 1314;
    overflow: auto;
    border-radius: 2vh;
    display: none;
}

.tool7-why>p {
    font-size: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    outline: none;
    border: none;
}

.tool7-why-close {
    font-family: 'icomoon';
    font-size: 2vh;
    position: fixed;
    right: 27vw;
    top: 12vh;
}